* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Tahoma, sans-serif;
}

/* start screen start  */
.control-buttons {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 169, 244, 0.8);
  z-index: 2;
}

.control-buttons span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(236, 136, 43);
  color: #fff;
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}
/* start screen end  */

/* infot start  */
.info {
  width: 1080px;
  margin: 20px auto 0;
  background-color: #f6f6f6;
  padding: 20px;
  font-size: 24px;
  overflow: hidden;
  border: 2px solid #2196f3;
  display: flex;
  justify-content: space-between;
}

/* infot start  */

/* game section start  */
.game {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

.game .game-block {
  height: 200px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  flex: 1 0 200px;
  margin: 0 10px 20px;
}

.game .game-block .front::before {
  content: '!';
  color: #fff;
  font-size: 140px;
  font-weight: bold;
}

.game .game-block .front {
  background-color: #333;
  line-height: 200px;
}
.game .game-block .back {
  background-color: #607d8b;
  transform: rotateY(180deg);
}

.game .game-block .back img {
  width: 140px;
  height: 140px;
  margin-top: 30px;
}

.game .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 5px solid #2196f3;
}

.game .game-block.is-flipped,
.game .game-block.has-matched {
  transform: rotateY(180deg);
  pointer-events: none;
}

.game.no-clicking {
  pointer-events: none;
}
/* game section end  */
